@import './common.scss';

.chat {
	position: relative;
	display: flex;
	flex-grow: 10;
	align-self: stretch;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	margin: $margin-md;
	background: $light;
	border-radius: 20px;
	border: 2px solid $grey-2;
}

@media screen and (max-width: 480px) {
	.chat {
		min-width: 80%;
	}
}