// Color Scheme
$primary: #023047;
$secondary: #6cbdc1;
$success: #27ba50;
$warning: #ca0c01;
$background: #f3f4f6;
$grey-1: #e5e7eb;
$grey-2: #d1d5db;
$grey-3: #9da3af;
$shadow: #5f6766;
$dark: #000000;
$light: #ffffff;

// Margins
$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;

// Paddings
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;